.button_navigation_bar {
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #fff;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    display: flex;
}

.button_navigation_bar {
    padding: 7px;
    box-shadow: rgba(66, 66, 100, 0.25) 0px 6px 12px -2px, rgba(126, 125, 125, 0.3) 0px 3px 7px -3px;
}

.button_navigation_bar .profile {
    margin-right: 6%;
}

.button_navigation_bar .write_something {
    width: 250px;
}

.nav-link img {
    width: 38px;
}

.menu {
    margin-right: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.material-icons.md-36 {
    font-size: 36px;
}

.button_navigation_bar .user-name {
    margin-left: 20px;
}


/* create-post */

form {
    width: 48%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 20px;
}

.header {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header .content {
    font-size: 1.2rem;
}

.header .btn-close {
    position: absolute;
    right: 10px;
    font-size: 1.8rem;
    padding-bottom: 20px;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    background: #e2e0e0cc;
}

.insert-post {
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-post {
    width: 100%;
    font-size: 1.2rem;
    padding: 15px;
    border: none;
    background: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.submit-post:hover {
    background: #24c4fa;
    color: white;
}

.your-mine {
    list-style: none;
    width: 90%;
    padding: 7px;
    background: #e2e0e0cc;
    border: none;
    border-radius: 15px;
    outline: none;
    text-decoration: none;
    text-align: center;
}


/* container */

.container {
    width: 50%;
    margin: auto;
}


/* post */

.post,
.post-view {
    width: 80%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 20px;
    border-radius: 10px;
}

.post_mind {
    display: flex;
    align-items: center;
}

.img_profile {
    margin: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 10%;
    height: 40px;
}

.img_profile img {
    width: 45px;
    border: 2px solid orange;
    border-radius: 360px;
}

.profile .user-name {
    margin-top: 15px;
}

.profiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profiles .user-name {
    margin-left: 10px;
    margin-top: 6px;
}

.write_something {
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#write_something {
    width: 90%;
    padding: 7px;
    background: #e2e0e0cc;
    border: none;
    border-radius: 15px;
    outline: none;
}

.function_post {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #cccbcbcc;
}

.function_post p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.feature_photo {
    border-right: 2px solid #cccbcbcc;
}

.feature_photo,
.feature_feeling {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_post {
    color: green;
}

.bi-emoji-smile {
    color: #e6e205;
}

#myFile {
    display: block;
}

.like,
.comment {
    display: flex;
    text-decoration: none;
    background: none;
    border: none;
    color: #000;
}

.number-like-comment {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ------------post-view-------------- */

.post-react {
    width: 90%;
    height: 2px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.profile {
    display: flex;
}

.post-header,
.post-view .post-header .profile {
    display: flex;
    justify-content: space-between;
}

.post-react img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.post-react div {
    display: flex;
    margin-top: 40px;
}

.three-dot {
    cursor: pointer;
}

.sub-menu-1 {
    display: none;
    background-color: white;
    border: 1px solid #cccbcbcc;
}

.three-dot {
    cursor: pointer;
    position: relative;
}

.sub-menu-1 ul li {
    list-style: none;
    padding: 5px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-menu-1 ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.three-dot:hover .sub-menu-1 {
    display: block;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: -70px;
    text-align: center;
    border-radius: 3px;
    padding: 0;
}

.three-dot:hover .sub-menu-1 li:first-child {
    margin-top: 13px;
}

.three-dot:hover .sub-menu-1 li:hover {
    background-color: #1877F2;
    padding: 5px 10px;
    border-radius: 3px;
}

.three-dot:hover .sub-menu-1 ul li:hover a {
    color: white;
}

.post-image {
    border-top: 1px solid #cccbcbcc;
    border-bottom: 1px solid #cccbcbcc;
    padding: 5px 0;
}


/* ------------end-post-view-------------- */